
    <!-- index.js 내부에서 subject.ejs 생성용 텍스트로 변환  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <% if (locals.indexnumber) { %>   <h1>Spreading Remark : </h1>
        <form action="/update/<%=indexnumber%>" method="post" id="update-form">
            <div>
                <table class="table">
                    <tr class="top">
                        <td class="left">Spreading Remark : </td>
                        <td class="right"><input type="text" maxlength="20" name = "fsubject" placeholder="제목을 입력하세요" value="<%= subject%>" style="width:420px;"></td>
                    </tr>
                    <tr class="bottom">
                        <td class="left"><p>Issue : </p></td>
                        <td class="right"><textarea id="user-input" name="fcontents" rows="6" cols="50" placeholder="Enter your text here..."><%= contents %></textarea></td>
                    </tr>         
                </table>
                <div class="button"><input type="submit" value="Update"></div>
            </div>
        </form>
        <br>
        <hr>
    <% } else {%>
        <h1>Spreading Remark : </h1>
        <form action="/update/<%=indexnumber%>" method="post" id="update-form">
            <div>
                <table class="table">
                    <tr class="top">
                        <td class="left">Spreading Remark : </td>
                        <td class="right"><input type="text" maxlength="20" name = "fsubject" placeholder="제목을 입력하세요" value="<%= subject%>" style="width:420px;"></td>
                    </tr>
                    <tr class="bottom">
                        <td class="left"><p>Issue : </p></td>
                        <td class="right"><textarea id="user-input" name="fcontents" rows="6" cols="50" placeholder="Enter your text here..."><%= contents %></textarea></td>
                    </tr>         
                </table>
                <div class="button">
                <input type="submit" value="Update"></div>
            </div>
        </form>

        <br>
<% } %>  
<hr>
<%- include("footer.ejs")  %>
<script type="text/javascript" src="html.js"></script>
</body>
</html>
    